<template>
    <div id="appx" class="flex items-center justify-center h-full bg-gray-200 p-4">
        <div class="mt-2 mb-6 text-sm text-red-600" v-if="errors !== ''">
            {{ errors }}
        </div>

        <div class="w-full shadow-lg max-w-2xl bg-white sm:flex">

            <div class="w-full sm:w-3/4 p-3">

                <div class="flex justify-between items-center border-b pb-3">
                    <div>
                        <div class="sm:flex items-center mb-1">
                            <h2 class="text-lg font-semibold text-gray-600">{{ hotel.name }}</h2>
                        </div>
                        <div class="flex items-center">

                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" class="h-3 w-3 text-blue-500 fill-current mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path>
                            </svg>
                            <p class="text-xs text-gray-600">{{ hotel.address }}, {{ hotel.city }} </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="w-full sm:w-3/4 p-3">
                <template v-for="room in rooms" :key="room.id">
                    <div class="flex mt-3 items-center">
                        <div>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bed" class="w-3 h-3 text-blue-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path fill="currentColor" d="M176 256c44.11 0 80-35.89 80-80s-35.89-80-80-80-80 35.89-80 80 35.89 80 80 80zm352-128H304c-8.84 0-16 7.16-16 16v144H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v352c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-48h512v48c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V240c0-61.86-50.14-112-112-112z"></path>
                            </svg>
                        </div>
                        <p class="text-xs ml-1 text-gray-600 font-semibold">
                            {{ room.id}} {{room.type}} {{room.price}}
                        </p>
                    </div>
                </template>
            </div>


        </div>

    </div>
</template>
<script>
import useHotels from "../../composables/hotels";
import {onMounted} from "vue";

export default {
    props: {
        id: {
            required: true,
            type: String
        }
    },
    setup(props) {
        const {errors, hotel, rooms, getHotel} = useHotels();

        onMounted(() => getHotel(props.id))

        console.log(rooms)

        return {
            errors,
            hotel,
            rooms
        }
    }
}
</script>
